.caroline
{  
    background-color: beige;

    margin-top:20px ;
    margin-bottom: 20px;
    width: 100%;
}

.caroline .carousel-item
{   
    background-color: rgba(0, 0, 0, 0.932);
}

.caroline .container
{   
    background-color: black ;
    width: 400px;
    height:300px;
}

.caroline h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    

 }
 .caroline h2{
  color: black;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 


.caroline img 
{   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height:400px;
 
}


.caroline p
{
    
    font-style:oblique;
    font-weight: 300;
    text-decoration: solid;
    text-shadow: 2px;
    
    color: antiquewhite;
    background-color:  rgba(0, 0, 0, 0.044);

}

