* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    margin-left: 0;
    margin-right: 0;
}

.title-bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1fcedb;
    width: 100%;
    padding: 0;
    margin: 0;
}

.placeholdertext {
    font-size: 1.3em;
    text-align: center;
    padding: 0.8em;
    margin: 0;
}

/* home page-specific styling */



/* searchresults page-specific styling */

.searchbar {
    margin-top: 3.6em;
    padding: 0.5em;
}

.results {
    padding: 0.5em;
    border-top: 1px solid blue;
}

/* recipe page-specific styling */

.r-image {
    position: absolute;
    text-align: center;
    top: 10%;
    left: 5%;
    background-color: grey;
    width: 35%;
    height: 85%;
    padding: 0;
}

#recipe {
    position: absolute;
    text-align: left;
    top: 7%;
    left: 50%;
    width: 50%;
}

.i-list li {
    padding: 1%;
    font-size: 1.25em;
}

.p-list li {
    padding: 1%;
    font-size: 1.5em;
}


