* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    margin-left: 0;
    margin-right: 0;
}

.title-bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1fcedb;
    width: 100%;
    padding: 0;
    margin: 0;
}

.placeholdertext {
    font-size: 1.3em;
    text-align: center;
    padding: 0.8em;
    margin: 0;
}

/* home page-specific styling */



/* searchresults page-specific styling */

.searchbar {
    margin-top: 3.6em;
    padding: 0.5em;
}

.results {
    padding: 0.5em;
    border-top: 1px solid blue;
}

/* recipe page-specific styling */

