.aboutpage {
    margin-top: 10%;
    margin-bottom: 130px;
}
.member
{
    line-height: 30px;
   list-style: none;
}
.aboutpage h2{
    color: red;
}

h3{
    font-size: small;
    margin-top: 10%;
    margin-bottom: 10%;
}