.my-main {
    /* background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("https://images.pexels.com/photos/4551832/pexels-photo-4551832.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./bannerHD.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.my-main h1,
h2 {
    color: antiquewhite;

}


.button-input {
    width: 70%;
    margin-top: 20px;
    padding: .7%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}
