.caroline
{  
    background-color: beige;
    display: inline-block;
    margin:20px 20px 20px 20px;

    height:200px
    
}

.caroline h1{
    font-style: italic;
    font-size: 20px;
    

 }
 .caroline h2{
   margin-top: 30px;
 }
 
.caroline img
{
    height: 250px;
    width: 250px;
}

.caroline p
{
    text-align: center;
    font-style:oblique;
    font-weight: 300;
    text-decoration: solid;
    text-shadow: 2px;
    
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.255);

}

.caroline .fa {
    font-size: 2em; /* change the value as per your requirement */
    margin-left: 20px;
  }