@font-face {
    font-family: "main";   /*Can be any text*/
    src: url("/recipewebsite/src/fonts/Poppins/Poppins-Black.ttf");
  }

@font-face {
    font-family: "second";   /*Can be any text*/
    src: url("/recipewebsite/src/fonts/CantataOne-Regular.ttf") ;
}

@font-face {
font-family: "third";   /*Can be any text*/
src: url("/recipewebsite/src/fonts/Montserrat-Bold.ttf");
}

.meals-component
{   
    
    margin:40px 0px 0px 0px;
    display:flex;
    justify-content:center;
    
    flex-wrap:wrap;
    direction: ltr;
   
  
    font-family: "second";
    background-color: aliceblue;
    
}


.whole h1
{   margin: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xx-large;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.unknown h1
{   
    width:3000px;

}